.wrapper {
    margin-top: 100px;
}

.action-btn {
    line-height: 134px;
    height: auto;
}

.controls .btn {
    display: block;
}

.controls .btn:not(:last-child) {
    margin-bottom: 5px;
}

.btn {
    height: auto !important;
}

.btn input {
    margin: 0;
    box-shadow: none !important;
    border: 0 !important;
    color: #FFF;
}

.action-bar {
    padding: 0;
}
.action-bar .btn:not(:last-child) {
    margin-right: 5px;
}
.action-bar .btn {
    margin-bottom: 5px;
    padding: 0 20px;
}

.action .item-content {
    position: relative;
    margin-right: -20px;
    padding-right: 30px;
}

.action .item-content .delete-btn {
    position: absolute;
    top: 50%; right: 0;
    width: 20px; height: 36px;
    margin-top: -18px;
    font-size: 1.3em;

    background-color: rgba(0,0,0,0.3);
}

.action .item-content .delete-btn:hover {
    color: #000;
}

.action.marked-for-delete {
    background-color: #a94442;
}