@import "variables.scss";

html {
  height: 100%;
  background-color: #111;
}

body {
  position: relative;

  margin: 0;
  padding: 0;

  min-height: 100vh;

  font-family: 'Roboto Condensed', sans-serif !important;
  font-size: 12px;

  line-height: 1.8;
  background-color: #000 !important;
  background-image: url("https://s-media-cache-ak0.pinimg.com/564x/8c/b7/3e/8cb73efe4b0c2f64db0d1df303d54c57.jpg");
  background-position: center center;

  @import "base.scss";
}

$canvasWidth: 800px;
$canvasHeight: 600px;

#app-canvas, {
  position: absolute;
  top: 50%; left: 50%;

  width: $canvasWidth; height: $canvasHeight;

  margin-top: -$canvasHeight/2;
  margin-left: -$canvasWidth/2;

  background-color: rgba(238, 238, 238, 0.95);

  .navigation {
    height: 35px;
    margin-top: -35px;
  }

  .module {
    position: absolute;
    top:0; bottom: 0;
    left: 0; right: 0;

    .busy:after {
      content: "";
      position: absolute;
      top: 0; bottom: 0;
      left: 0; right: 0;

      pointer-events: none;

      background-color: #000;
      background-image: url("https://s-media-cache-ak0.pinimg.com/originals/4d/ee/6b/4dee6b73ce23be99b3cb9d24969eb42f.gif");
      background-repeat: no-repeat;
      background-position: center;

      opacity: 0.9;

      z-index: 2;
    }
  }
}

$mapCellWidth: $canvasWidth/5;
$mapCellHeight: $canvasHeight/5;

$grass: #54501b;
$lava: #5f0e14;
$stone: #ad8d73;
$ice: #6fefff;

.grass {
  background-color: $grass;
}
.ice {
  background-color: $ice;
}
.stone {
  background-color: $stone;
}
.lava {
  background-color: $lava;
}

.module-account {
  margin-top: 150px;

  .form-control {
    background: rgba(0, 0, 0, 0.05);
  }
}

.module-map {
  .map-cell {
    cursor: pointer;

    width: $mapCellWidth;
    height: $mapCellHeight;

    &:hover {
      opacity: 0.8;
    }

    &:active {
      opacity: 0.6;
    }
  }
}

.module-user {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 70px;
  height: 70px;
  margin: -35px;
  line-height: 70px;
  text-align: center;

  color: #FFF;

  &:before {
    content: "";
    position: absolute;
    top: 0; bottom: 0;
    left: 0; right: 0;
  }
}

.module-location {
  position: absolute;
  top:0; bottom: 0;
  left: 0; right: 0;
}