//Size
$xs: 320px;
$sm: 768px;
$md: 992px;
//Size END

//NAVIGATION START
$navigationWidth: 250px;
$navigationMobileMinHeight: 65px;
//NAVIGATION END

$screen-desktop: 1200px;
$screen-tablet: 768px;

//THEME START
$bgPrimaryColor: #FFF;
$bgAlternativeColor: #111;
$bgSecondaryColor: #f5f5f5;

$textPrimaryColor: #787878;
$textSecondaryColor: #FFF;
$textDarkColor: #000;
$textHeaderColor: #000;
$textSidebarColor: rgba(255, 255, 255, .7);
$textSidebarHoverColor: #FFF;

$borderMainColor: rgba(255, 255, 255, 0.2);
$borderMainSize: 2px;
//THEME END